@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #fafafa;
}

hr{
    border: none;
}
/**** Estilização Header ****/
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70px;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 2;
}
.header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    color: #FFFFFF;
    background-color: red;
    font-size: 37px;
    font-weight: 700;
}
.tela1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-tela1 {
    width: 1051px;
    margin: 0 195px;
}
.div-seu-quizz-vazio{
    width: 100%;
    height: 181px;
    margin: 77px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.div-seus-quizzes {
    width: 100%;
    height: 221px;
    margin: 77px 0;
    display: flex;
    flex-direction: column;
    flex: start;
}
.titulo-div-seu-quizz {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    
}
.botao-criar-quizz-peq {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.lista-seus-quizzes {
    width: 100%;
    height: 181px;
    display: flex;
    flex-wrap: wrap;

}
.conteudo-tela1 img {
    width: 100%;
    height: 100%;
}
.div-seu-quizz-vazio p {
    font-size: 20px;
    color: #B9B9B9;
    font-weight: 400;
    text-align: center;
}
.botao-criar-quizz-grande {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #EC362D;
}
h2 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.div-todos-quizzes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.quizz {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    width: 340px;
    height: 181px;
   
}
.degrade {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    z-index: 2;
}
.titulo-quizz-tela1 {
    background-color: transparent;
    color: white;
    font-size: 19px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 14px;
}


/**** Estilização página de criação de quizz ****/
.criarQuizz{
    position: relative;
    top: 75px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.criarQuizz-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.criarQuizz-pergunta{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 21px 16px;
}

.criarQuizz-form{
    width: 100%;
    margin: 5px 0;
}

.criarQuizz-pergunta input, .criarQuizz-pergunta textarea{
    border-radius: 5px;
    padding-left: 10px;
    width: 100%;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
}

.criarQuizz-pergunta input{
    height: 46px;
}

.criarQuizz-pergunta textarea{
    resize: vertical;
    padding-top: 10px;
}

.criarQuizz-pergunta input:focus, .criarQuizz-pergunta textarea:focus{
    outline-color: #8b8b8b;
}

.criarQuizz-pergunta input::placeholder, .criarQuizz-pergunta textarea::placeholder{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #BABABA;
}

.criarQuizz-form span{
    display: none;
}

.invalido input, .invalido textarea{
    background-color: #FFE9E9
}

.invalido span{
    display: block;
    font-size: 12px;
    color: #EC362D;
    margin-top: 2px;
    background: #FFFFFF;
}

.btn-red{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 90%;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    color: #FFF5F4;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.criarQuizz button:disabled{
    background: #E7E7E7;
    color: #696969;
    cursor: auto;
}

.criarQuizz h2{
    margin-bottom: 10px;
}


/*Segunda tela da criação do quizz*/
.box-pergunta-resumida{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px;
    height: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.box-pergunta-resumida h2{
    margin: 0;
}

.selecionado .box-pergunta-resumida{
    display: none;
}

.hidden .criarQuizz-pergunta{
    display: none;
}

small{
    display: flex;
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    color: #EC362D;
}

.small-hidden{
    display: none;
}



/**** Media queries ****/
@media (max-width: 1100px){
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .conteudo-tela1 {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        
    }
    .div-seu-quizz-vazio {
        width: 100%
    }
    .div-seus-quizzes {
        width: 100%;
        margin-bottom: 20px;
        height: 100%;
    }
    .lista-seus-quizzes {
        height: 100%;
        margin-bottom: 10px;
    }
    .quizz {
        margin-right: 0;
        width: 100%;
    }
    
}
