body {
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
}
.header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 700;
}
.tela1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-tela1 {
    width: 1051px;
    margin: 0 195px;
}
.div-seus-quizzes{
    width: 100%;
    height: 181px;
    margin: 77px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.div-seus-quizzes p {
    font-size: 20px;
    color: #B9B9B9;
    font-weight: 400;
    text-align: center;
}
.botao-criar-quizz {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #EC362D;
}
h2 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.div-todos-quizzes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 200px;
}
.quizz {
    margin-top: 12px;;
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%)
}
@media (max-width: 1100px){
    .conteudo-tela1 {
        width: 90%;
        margin: 0;
    }
    .div-seus-quizzes {
        width: 100%
    }
}